<h1>Posts</h1>

<ul>
    <% data.forEach(post => { %>
        <li style="display: flex;justify-content: space-between; ">
            <a href="/post/<%= post._id %>">
              <%= post.title %> &nearr;
            </a>
            <div class="admin-post-controls">
              <a href="/edit-post/<%= post._id %>" class="btn">Edit</a>
      
              <form action="/delete-post/<%= post._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn-delete btn">
              </form>
      
            </div>
      
          </li>

    <% }) %>
</ul>